<div class="lander-row lander-row--blue footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3 class="h3">Learn more</h3>
        <a href="/product/">
          <p class="text">Product</p>
        </a>
        <a href="/documentation/">
          <p class="text">Documentation</p>
        </a>
        <a href="/blog/">
          <p class="text">Blog</p>
        </a>
        <a href="/news/">
          <p class="text">News</p>
        </a>
        <div class="social-buttons mt-4">
            <div class="social-icons">
              <a href="https://twitter.com/daswag_project" target="_blank">
                <i class="fa fa-2x fa-twitter"></i><!--<img src="/img/003-Small-icons/Dark-blue/Twitter.svg" alt="">-->
              </a>
            </div>
          </div>
      </div>
        <div class="col-sm-4">
        <h3 class="h3">All things code</h3>
          <a href="/documentation/installation/">
            <p class="text">Quick start</p>
          </a>
          <a href="/community/">
            <p class="text">Community</p>
          </a>
          <a href="https://gitlab.com/daswag" target="_blank">
            <p class="text">Gitlab</p>
          </a>
      </div>
      <div class="col-sm-3">
        <h3 class="h3">Stay up to date</h3>
        <p class="text">
          Leave your email for the latest news: We won’t spam you and won’t go off topic.
        </p>

        <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" style="display: inline" target="_blank" novalidate="">
          <div class="input-group">
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email">
            <a onclick="$(this).closest('form').submit()" class="button button--red not-active">
              <div class="button__icon button__icon--mail">
              </div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom lander-row--blue">
  <div class="container">
    <div class="part">
    </div>
    <div class="part">
      <p class="text">© 2019 <a href="/about/">daswag.tech</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '6336564d11d0f76c3ef2521947b97f54',
  indexName: 'daswag',
  inputSelector: '.search-input',
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{{ partial "contact-form-modal" }}
