{{ partial "head" . }}

<div class="landing-page">
  {{ partial "nav-home" . }}
</div>

<!--FEATURED ARTICLES-->

{{ partial "featured-articles" . }}

<!--HEROSPACE ROW-->


<div class="page">
  <div class="lander-row lander-row--white hero-space">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
              <h1 class="h1 hero-text">
                What is daSWAG ?
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <p class="h1 mb-4 text-center hero-sub-text">
                daSWAG is a development platform to generate, develop and deploy full Serverless Web applications.
              </p>
            </div>
          </div>
          <div class="text-center">
            <a href="/documentation/installation/overview" class="button button--blue--ghost mr-md-3 mb-3 mb-md-0">
              Getting Started
            </a>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
        <!--TODO Add animation with bash console and demo-->
        </div>
      </div>
    </div>
  </div>

  <!--ABOUT daSWAG ROW-->

  <div id="about-vamp-row" class="lander-row lander-row--grey">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">Create your serverless Web application in seconds</h2>
        </div>
        <div class="col-sm-4 text-center">
          <h3 class="h3">Production ready application</h3>
          <p class="text">
            Generate your production ready project in seconds and choose which technologies you want to use.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <h3 class="h3">Cloud native architecture</h3>
          <p class="text">
            The daSWAG project built is entire architecture based on Serverless technologies. daSWAG integrates with all major cloud providers.
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <h3 class="h3">Developement best practices</h3>
          <p class="text">
              The daSWAG project has been built in compliance with development best practices #CleanCoding . 
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--USE CASES -->

  <div class="lander-row lander-row--grey">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2">Use cases</h2>
          <p class="text-lead">How can I use daSWAG in my organisation?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <figure class="card-image-wrapper">
              <img src="img/stock/testing-colorized.jpg" class="card-image">
            </figure>
            <div class="card-content">
              <h3 class="h3 card-title">Creating a new applications</h3>
              <p class="text card-text">Building new projects to address new business needs is a core part of any entreprise. 
                With daSWAG you can generate your production ready projet in seconds and deploy it to your favorite cloud providers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="img/stock/software-users-colorized.jpg" class="card-image">
            <div class="card-content">
              <h3 class="h3 card-title">Building an architecture adapted to your futur needs</h3>
              <p class="text card-text">Building an infrastructure adapted to your needs and scalable over time is a daily challenge. 
                The daSWAG generator uses only Serverless technologies that guarantee a perfect and automatic matching of your infrastructure to your traffic pattern.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="img/stock/datacenter-colorized.jpg" class="card-image">
            <div class="card-content">
              <h3 class="h3 card-title">Deploying an highly available and cost Optimized application</h3>
              <p class="text card-text">Serverless technologies are services managed by Cloud providers. They thus guarantee you a high availability and to pay only for what you consume (pay as you go). 
                The daSWAG project is built around these technologies and will provide you with all these advantages natively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FRIENDS-->

  <div class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">daSWAG friends</h2>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-3 text-center">
          <img src="/img/004-Logos/004-friends/Ippon.jpg" alt="Ippon Technologies">
        </div>
      </div>
    </div>
  </div>


  <!--FEATURES LIST ROW 01-->

  <div class="lander-row lander-row--grey features-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2 mb-4">Developers love us</h2>
          <p class="text-lead">Vamp provides developers with a cutting-edge working environment, combining proven standards with cutting-edge technology.</p>
        </div>
      </div>

      <div class="row row--wrap">
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Basic UI ready for your project. 
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-01.svg" alt="">
            <p class="text">
              Multiple Cloud providers compatibility to adapt to your needs
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-03.svg" alt="">
            <p class="text">
              Integrated metrics and events system exposed through standard Cloud services.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-06.svg" alt="">
            <p class="text">
              Secure deployment by using A/B Testing and Canary release.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-05.svg" alt="">
            <p class="text">
              API gateway features such as authentication and authorization or API Keys generation for Third-Party developers
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="offer-item">
            <img src="/img/002-Medium-icons/Medium-icons-04.svg" alt="">
            <p class="text">
              CI/CD pipeline to the most known tools (Gitlab, Github, Bitbucket)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="partners-row" class="lander-row lander-row--white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="h2">Technology compliance</h2>
        </div>
      </div>

      <div class="row logos-row">
        <div class="col col-sm-6 text-center">
          <a href="documentation/how-vamp-works/architecture-and-components/"><img src="/img/004-Logos/001-dark-blue/Amazon-vertical.svg" alt="Amazon AWS"></a>
        </div>
        <!--        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/azure-container-service/"><img src="/img/004-Logos/001-dark-blue/Google-vertical.svg" alt="Google Cloud Platform"></a>
        </div>
        <div class="col col-sm-6 text-center">
          <a href="documentation/installation/azure-container-service/"><img src="/img/004-Logos/001-dark-blue/Microsoft-vertical.svg" alt="Microsoft Azure"></a>
        </div>
        -->

      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script src="/js/dist/{{ index .Site.Data.js.hash "apps.min.js" }}" ></script>

{{ partial "footer" .}}
